.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px 40px 15px;
    justify-content: space-between;
}

table tr td{
    display: flex;
}
.sub-footer{
    /* padding: 100px 20px 40px 25px; */
    margin-left: 10px;
}
.heading-footer{
    margin: 2px;
}
.link-heading{
    /* padding: 90px 20px 40px 40px; */
    font-family: Merriweather-Regular-ttf;
    
}
.link{
   /* padding: 90px 0px 40px 60px ; */
   font-family: Merriweather-Regular-ttf;

   
}
.divider-1{

    margin-left: 10px;
    border-bottom: 2px solid rgb(66, 121, 0);
    width: 50px;
}
h6{
    padding-left: 10px;
}

ul{
    display: flex;
    padding-left: 2px;
}
ul .li{
    background-color: rgb(49, 109, 217);
    border: 0px solid rgb(49, 109, 217);
    border-radius: 100%;
    margin: 5px ;
    padding: 0px 2px 3px 3px;
    
    list-style: none;
}

.last{
    
    font-size: 13px;
}
.go-top{
    border: 1px solid black;
    background-color: transparent;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
}